<div class='row'>
  <div class='col-md-12'>
    {{#each chocolate}}
    <p>
      Name:  <strong>{{name}}</strong>  Satisfaction: <strong>{{satisfaction}}</strong>
    </p>
    {{/each}}
  </div>
</div>
